.container{
    width:100vw;
    height: 100vh;
    background-color: rgb(193, 190, 190);
    display: flex;
    justify-content:center;
    align-items:center;

}
    .app-container{
        width:70%;
        height: 80%;
        margin: 20px auto;
        /* border-radius: 25px; */
        display:flex;
        justify-content:center;
        align-items:center;
        box-sizing: border-box;
        .left-panel{
            width:30%;
            height:100%;
            background-color:white;
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
        }
        .right-panel{
            width: 70%;
            height: 100%;
            background-color:rgb(232, 232, 232);
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
        }
    } 

